{% extends 'catalog/basic.html' %}

{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <div class="w-75 mx-auto">
            <h3 class="display-5 mb-3">{{product.name}}</h3>
            <div class="w-25 mx-auto mb-2">
                <img class="img-fluid" src="/media/img/{{product.ava}}" alt="{{product.ava}}">
            </div>
            <div class="border-top border-bottom p-3 mb-3 w-50 mx-auto">{{product.description}}</div>
            <div><span class="fw-bolder">Цена: </span> {{product.price}} долларов</div>
            <div><span class="fw-bolder">Категория: </span> {{product.category}}</div>
            <div><span class="fw-bolder">Добавлен: </span> {{product.manufactured_at}}</div>
        </div>
    </div>
{% endblock %}