{% extends 'catalog/basic.html' %}

{% block content %}
<div class="row text-center">
    <div class="mb-4">
        <a href="/product/create" class="btn btn-primary ">Добавить товар</a>
    </div>

    <table class="table w-75 mx-auto">
        <tr>
            <th class="w-50">Название</th>
            <th>Категория</th>
            <th>Цена</th>
        </tr>
        {%for prd in products %}
        <tr>
            <td><a href="/product/{{prd.id}}">{{prd.name}}</a></td>
            <td>{{prd.category}}</td>
            <td>{{prd.price}} р.</td></tr>
        {% endfor %}
    </table>

    {% if pages.count > 1 %}
    <div>
        <span>Страницы: </span>
        {% for i in pages.list %}
            {% if i == pages.number %}
                <span class='fw-bold'>{{i}}</span>
            {% else %}
                <a href="?page={{i}}">{{i}}</a>
            {% endif %}
        {% endfor %}
    </span>
    {% endif %}
</div>
{% endblock %}
